:root {
    --background: #a5f4dc;
    --textcolor: #165B11;
    --dark1: #165B11;
    --dark2: #005A33;
    --dark3: #00584B;
    --dark4: #00545A;
    --dark5: #044E5E;
    --dark6: #2F4858;

    --light1: #A5F4DC;
    --light2: #81D0C8;
    --light3: #65ACB0;
    --light4: #508995;
    --light5: #3E6878;
    --light6: #2F4858;
}

html,
body {
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: lawngreen;
}

.content {
    flex: 1 0 auto;
    /* height: 600px; */
    background-color: darkred
}

.footer {
    background-color: blueviolet;
    flex-shrink: 0;
}

#services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.service-block{
    width: 30%;
    background-color: darkgray;
    border-radius: 8px;
}